#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 200px;
}

#navbar li a:hover {
  background-color: #111;
}

.toggle-btn {
  position: absolute;
  left: 105%;
  top: 15px;
  cursor: pointer;
}

.toggle-btn span {
  display: block;
  background-color: #FFF;
  width: 30px;
  height: 5px;
  margin: 3px;
}

.bg-ce {
  background-color: #020438;
  width: 100%;
  height: 300px;
}

.bg-ce h1 {
  position: absolute;
  left: 469px;
  top: 116px;
  font-size: 48px;
  color: #FFF;
}

.bg-ce img {
  position: absolute;
  left: 153px;
  top: 80px;
  height: 219px;
  width: 253px;
  border: 4px solid white;
}

.info-ce {
  background-color: #284184;
  height: 1107px;
  width: 100%;
}

.info-ce p {
  color: #FFF;
  font-size: 24px;
  padding: 28px;
  font-style: italic;
}

.info-ce h2 {
  color: #FFF;
  font-size: 26px;
  letter-spacing: 5px;
  margin-left: 200px;
}

.info-ce ul li {
   color: #FFF;
   font-size: 20px;
   margin-left: 215px;
   padding: 20px;
   text-align: justify;
   margin-right: 45px;
}

.header-ce {
  width: 100%;
  height: 130px;
  background: url(../img/bgcbtis.jpg) no-repeat fixed;
  background-size: cover;
}

/* SECCIÓN */

#section {
    height: 300px;
    padding: 30px;
    text-align: center;
    background-color: #1f8ea3;
}

#section div {
    display: inline-block;
    margin: 40px;
}

.zoom1 {
    height: 200px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    border: 6px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.31);
}

.zoom1 img {
    height: 200px;
    width: 300px;
    transition: .5s;
    cursor: pointer;
}

.zoom1:hover img {
    transform: scale(1.1);
}

.zoom2 {
    height: 200px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    border: 6px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.31);
}

.zoom2 img {
    height: 200px;
    width: 300px;
    transition: .5s;
    cursor: pointer;
}

.zoom2:hover img {
    transform: scale(1.1);
}

.zoom3 {
    height: 200px;
    width: 300px;
    overflow: hidden;
    border-radius: 20px;
    border: 6px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.31);
}

.zoom3 img {
    height: 200px;
    width: 300px;
    transition: 0.5s;
    cursor: pointer;
}

.zoom3:hover img {
    transform: scale(1.1);
}

footer {
  height: 50px;
  background-color: #393e46;
  font-size: 15px;
  color: #FFF;
  text-align: center;
  padding-top: 16px;
}

video {
  width: 550px;
  position: relative;
  top: 20px;
  left: 418px;
}